*{
    box-sizing: border-box;
}

p {
    font-family: serif,Arial, Helvetica, sans-serif;
    font-size: medium;
    color:rgba(0, 0, 0, 0.901);
    line-height: 115%;
}
blockquote{
    font-size:160%;
    background-color: rgb(162, 159, 159);
    border-style: solid;
    border-color:firebrick;
    border-width:0px;
    border-left-width: 3px;
    padding-left: 30px;
    margin-top: 80px;
}
.farmer{
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: yellow;
}
.villager{
    font-style: italic;
    margin-top:10px;
    margin-bottom: 10px;
    border-color: aquamarine;
}
body {
max-width: 90%;
margin-right:5%;
margin-left: 5%;
background: -webkit-radial-gradient(rgb(232, 29, 4), rgb(255, 4, 245));
background: radial-gradient(rgb(232, 29, 4), rgb(255, 4, 245));    
background-image: url("https://cdn.britannica.com/90/7490-004-BAD4AA72/Flag-China.jpg");
background-repeat:no-repeat;
background-position: bottom-right;
background-size:cover;
}
.fig1{
    margin-bottom: 80px;
}
header>h1{
    background-color: yellow;
} 

.bad{
    font-style: italic;
    text-transform: capitalize;
    color:red;
}
.good{
    font-style: italic;
    text-transform: capitalize;
    color:green;
}
table{
    border-color: aquamarine;
    border-style:solid;
    border-width: 1px;

}
tr:nth-child(even),th{
    background: aliceblue;
}
tr:nth-child(odd){
    background: rgb(33, 108, 174);
}
ul{
    list-style-type: none;
}
li {
    padding:25px 0px 25px 70px;
    background-repeat: no-repeat;
}
li:nth-of-type(1) {
    background-image: url(https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/bien.png?token=GHSAT0AAAAAACCR2W7P2DGNRLPZR6S557XKZDDHB5Q);
}
li:nth-of-type(2) {
    background-image: url(https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/mal.png?token=GHSAT0AAAAAACCR2W7ODRQNJWBTCFXF5MUCZDDI4PA);
}
li:nth-of-type(3) {
    background-image: url(https://raw.githubusercontent.com/becodeorg/BXL-Johnson-09-main-repo/main/1.The-Field/03-Frontend-101-Progressive_enhancement/chat.png?token=GHSAT0AAAAAACCR2W7P6Y3IEKYRQHLE3CIIZDDI44A);
}

section{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: flex-start;
  
}
img{
    max-width: 50%;
    height:auto;
}
section>*{
    padding:10px;
    display: flex;
    flex: 0 1 50% ;
    margin:0px;
}
.fig{
    text-align: center;
}
h2{
    font-size: 50px;
}

figure {
    padding:opx;
}
.norev{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: flex-start;
  
}
section.norev>*{
    padding:10px;
    display: flex;
    flex: 0 1 50% ;
    margin:0px;
    flex-direction: column;

}